h1 {
	color: red;
	font-family: "roboto";
	text-align: center;
}
.title{
    color:blue
  }

  #blue-bordered {
    border: 5px dashed blue;
}

div {
  display: inline;
}

div {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}



      /* unvisited link */
      a:link {
        color: tomato;
    }

    /* visited link */
    a:visited {
        color: tomato;
    }

    /* mouse over element */
    div:hover {
        color: tomato;
    } 

    /* selected link */
    a:active{
        color: #0000FF
    }

    
   